button {
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0px 0px 29px -12px rgba(34, 60, 80, 0.2);
    background-color: #ffffff;
    border: 1px solid black;
    cursor: pointer;
}

.btn-active {
    background-color: #222;
    color: #fff;
}