.left-bar {
    margin-left: 20px;
    font-size: 20px;
    padding: 20px;
    box-shadow: 0px 0px 29px -12px rgba(34, 60, 80, 0.2);

    &-cat {
        margin-bottom: 10px;
        cursor: pointer;

        &::after {
            color: white;
            background: black;
        }
    }
}